.liori_title {
	font-family: "Myriad Pro", PTSansCaptionRegular, Arial, Helvetica, sans-serif;
	font-size: 24px;
}
.liori_spec_title {
	font-family: Arial, sans-serif;
	font-size: 20px;
	height: 28px;
	background: #d4e8fc;
	vertical-align: middle;
	padding: 5px;
}
.liori_nav, .liori_nav a {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #656565;
	text-decoration: none;
	height: 34px;
}
.liori_nav a:hover {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #477da3;
	text-decoration: underline;
}
.liori_menu {
	height: 30px;
	background: #d4e8fc;
	vertical-align: middle;
}
.liori_menu a {
	font-family: Arial, sans-serif;
			font-size: 15px;
			color: #000000;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
	padding-left:15px;
	padding-right:15px;
}
.liori_menu a:hover {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #477da3;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	height: 46px;
}
.liori_line {
	background-color: #d4e8fc;
}
.liori_spec_text {
	font-family: Arial, sans-serif;
	font-size: 15px;
	height: 25px;
}
.liori_tab_bg {
	padding-top: 30px;
	padding-left: 20px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	height: 25px;
}
.liori_browse_title {
	padding-left:20px;
	font-family: "Myriad Pro",PTSansCaptionRegular, arial, helvetica, sans-serif;
	font-size: 24px;
}
.liori_phone, .liori_phone a {
	font-family: "Myriad Pro",PTSansCaptionRegular, arial, helvetica, sans-serif;
	font-size: 17px;
	color: #8e8e8e;
	text-transform: uppercase;
	padding-top: 20px;
}
.liori_phone_number, .liori_phone_number a {
	font-family: "Myriad Pro",PTSansCaptionRegular, arial, helvetica, sans-serif;
	font-size: 17px;
	color: #477da3;
	text-transform: uppercase;
}
.liori_search {
	height: 72px;
	padding-top: 14px;
}
.liori_search_box {
	height: 30px;
	width: 210px;
	padding: 0;
	position: relative;
	left: 0;
	outline: none;
	border: 0;
	font-size: 12px;
	padding-left: 10px;
	color: #656565;
}
.liori_photo {
	-moz-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	-webkit-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	-o-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	width: 521px;
	height: 520px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #E1E3E6;
}
.liori_gallery {
	-moz-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	-webkit-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	-o-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	width: 521px;
	height: 168px;
	text-align: center;
	vertical-align: top;
	position: absolute;
	margin-top: 20px;
	border: 1px solid #E1E3E6;
}
.zoomview {
    background-color: #ffffff;
    background-image: url("images/zoom.png");
    background-repeat: no-repeat;
    background-size: 30px auto;
    border: 1px solid #CCCCCC;
    color: #4C5157;
    opacity: 0;
    padding: 4px 9px 22px 0;
    position: absolute;
    text-align: right;
    text-decoration: none;
    transition: opacity 500ms ease 0s;
    height: 0;
    width: 75px;
	margin-top: 45px;
	margin-left: 17px;
	line-height: 19px;
	cursor: pointer;
}
.small_img_container:hover .zoomview
{
    opacity: 0.8;
}
.prev_view {
	background:url(images/left_arrow.png) no-repeat center 0px;
	height:168px;
	width:54px;
	border:0;
	background-position-y: 42px;
	cursor: pointer;
}
.next_view {
	background:url(images/right_arrow.png) no-repeat center 0px;
	height:168px;
	width:54px;
	border:0;
	background-position-y: 42px;
	cursor: pointer;
}
.item_desc {
	margin-top: 50px;
	margin-bottom: 40px;
}
.item_desc_title {
	font-family: Arial, sans-serif;
	font-size: 20px;
}
.item_desc_content {
	border: 1px solid #CCCCCC;
	font-family: Arial, sans-serif;
	font-size: 15px;
	height: 100px;
	padding: 10px;
	overflow: auto;
}
/* TABS */
.ebaytab { 
	font:16px Arial, Helvetica, sans-serif; 
	text-align: center;
	text-decoration: none;
	margin-right:10px; 
	padding: 15px 28px 0; 
	cursor:pointer;
}
.ebaytab:hover {
	background-color: #ffffff;
}
.tabactive {
	background-color: #ffffff;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e1e1;
	border-top-color: #477da3;
	border-top-width: 4px;
	height: 30px;
	border-bottom-width:0px;
	font-family: Arial, sans-serif;
	font-size: 20px;
}
.tabinactive {	
	background-color: #d4e8fc;
	color: #000000;
	height: 33px;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e1e1;
	vertical-align: middle;
	padding-top: 15px;
	font-family: Arial, sans-serif;
	font-size: 20px;
}
#content { 
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height:1.5em;
	color: #858585;
	border-style: solid;
	border-width: 1px;
	border-color: #e1e1e1;
	margin-top: -2px;
	padding: 20px;
	height: 300px;
	width: 870px;
	overflow-y: auto;
}